#addition_container {
    height: 100vh;
    width: 100vw;
    display: inline;
}

#addition_heading {
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
}

#addition_canvas {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 5px 0 5px 0;
}

#sum_inline {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 5px 0 5px 0;
}

#answer_text {
    padding-left: 10px;
    display: none;
}