<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spazzle Addition</title>
        <link rel="stylesheet" href="addition.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div id="addition_container">
            <h1 id="addition_heading">Solve the problem!</h1>
            <canvas id="addition_canvas"></canvas>
            <span id="sum_inline">
                <form id="answer_form">
                    <label for="sum" id="sum_label">Sum:</label>
                    <input type="text" id="answer_input"></input>
                    <span id="answer_text"></span>
                </form>
            </span>
        </div>
        <script src="/static/addition.js"></script>
    </body>
</html>