<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='game_template.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div id="leaderboard_modal">
            <div id="leaderboard_content">
                <div id="final_message"></div>
                <ul id="leaderboard_list">
                    <span id="leaderboard_title"></span>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                    <li class="leaderboard_item">
                        <span class="leaderboard_user"></span>
                        <span class="leaderboard_stat"></span>
                    </li>
                </ul>
                <button id="return_button">Return Home</button>
            </div>
        </div>
        <div id="game_container">
            <table id="heading_table">
                <tbody>
                    <tr id="heading_row">
                        <th id="button_cell"><button id="quit_button">Quit Game</button></th>
                        <th id="game_heading">Game Title/Description!</th>
                        <th id="timer_heading">
                            <span id="level_number">Level 1</span>
                            <span> - </span>
                            <span id="game_timer">0:00:00</span></th>
                    </tr>
                </tbody>
            </table>
            <canvas id="game_canvas" style="display: none;"></canvas>
            <div id="game_div" style="display: none;"></div>
            <span id="answer_inline" style="display: none;">
                <form id="answer_form">
                    <label for="answer_input" id="answer_label">Answer:</label>
                    <input type="text" id="answer_input"></input>
                    <span id="answer_text"></span>
                </form>
            </span>
            <span id="error_text" style="display: none;"></span>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>