<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='game_template.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div id="game_container">
            <table id="heading_table">
                <tbody>
                    <tr id="heading_row">
                        <th id="button_cell"><button id="quit_button">Quit Game</button></th>
                        <th id="game_heading">Game Title/Description!</th>
                        <th id="game_timer">0:00</th>
                    </tr>
                </tbody>
            </table>
            <canvas id="game_canvas"></canvas>
            <!--
            <div id="game_div"></div>
            -->
            <span id="answer_inline">
                <form id="answer_form">
                    <label for="answer_input" id="answer_label">Answer:</label>
                    <input type="text" id="answer_input"></input>
                    <span id="answer_text"></span>
                </form>
            </span>
        </div>
        <script src=""></script>
    </body>
</html>