<html lang="en">
<head>
  <title>Test Canvas</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Sorting</h1>
  <p>Goal: Move the boxes to their respective areas</p>
  <p>Instructions: Click a box once to select it, then click where you want to place it.</p>
  <br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <canvas width="500" height="300" id="canvas"></canvas>
  <!-- <canvas width="500" height="300"></canvas> -->
  <script src="static/sort_canvas.js"></script>
</body>
</html>
