<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spazzle Stats</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arbutus+Slab">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
		<div id="stat_page_content">
			<h1 id="user_heading">Username</h1>
			<div id="large_row_container">
				<div id="form_container">
					<form id="stat_form">
						<select id="stat_select">
							<option value='1' class="option_select">All Modes</option>
							<option value='2' class="option_select">Speed Mode</option>
							<option value='3' class="option_select">Level Mode</option>
							<option value='4' class="option_select">Infinite Mode</option>
						</select>
					</form>
				</div>
				<div id="highlights_container">
					<h2 id="highlights_heading">Stat Highlights</h2>
					<table id="highlights_table">
						<tbody>
							<tr class="highlights row">
								<th class="highlights_cell">
									<img class="highlights_icon" src="{{ url_for('static', filename='images/alarm.svg') }}"></img>
									<span class="highlights_number">00:00</span>
									<p class="highlights_title">PLACEHOLDER</p>
								</th>
								<th class="highlights_cell">
									<img class="highlights_icon" src="{{ url_for('static', filename='images/mouse.svg') }}"></img>
									<span class="highlights_number">00</span>
									<p class="highlights_title">PLACEHOLDER</p>
								</th>
							</tr>
							<tr>
								<th class="highlights_cell">
									<img class="highlights_icon" src="{{ url_for('static', filename='images/arrow-up-o.svg') }}"></img>
									<span class="highlights_number">00</span>
									<p class="highlights_title">PLACEHOLDER</p>
								</th>
								<th class="highlights_cell">
									<img class="highlights_icon" src="{{ url_for('static', filename='images/graph-up-arrow.svg') }}"></img>
									<span class="highlights_number">000</span>
									<p class="highlights_title">PLACEHOLDER</p>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="stats_container">
					<table id="stats_table">
						<tbody>
							<tr class="stats_row">
								<th class="stats_heading">Stat</th>
								<th class="stats_heading">Total</th>
								<th class="stats_heading">Avg</th>
							</tr>
							<tr class="stats_row">
								<th class="stats_cell">Placeholder</th>
								<th class="stats_cell">--</th>
								<th class="stats_cell">--</th>
							</tr>
							<tr class="stats_row">
								<th class="stats_cell">Placeholder</th>
								<th class="stats_cell">--</th>
								<th class="stats_cell">--</th>
							</tr>
							<tr class="stats_row">
								<th class="stats_cell">Placeholder</th>
								<th class="stats_cell">--</th>
								<th class="stats_cell">--</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        <script src="{{ url_for('static', filename='stats.js') }}"></script>
	</body>
</html>
